.accordionCards .card-header {
  background-color: #e9ecef;
}
.accordionCards img {
  width: auto;
}
.accordionCards .card-header button {
  color: #152630;
}
.banner {
  padding-top: 56px;
  border-bottom: #152630 5px solid;
}
.banner img {
  max-height: 360px;
  object-fit: cover;
  object-position: center;
}
.banner .carousel .carousel-caption {
  background-color: #000;
  opacity: 0.8;
}
.banner .carousel .carousel-caption p {
  font-size: 18px;
}
.breadcrumb .breadcrumb-item a {
  color: #152630;
}
.btn-add {
  width: 100%;
  background-color: #152630;
  color: #fff;
  border-radius: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.btn-add:hover {
  color: #152630;
  background-color: #b2beba;
}
.by {
  background-color: #152630;
}
.by p {
  color: #fff;
  margin: 0;
}
.card-hotel {
  flex: 1 250px;
  overflow: hidden;
}
.card-hotel .card-img-top {
  height: 194px;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.card-hotel .card-img-top:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.card-hotel .card-footer .btn-modal-contact {
  background-color: #E5B463;
  color: #fff;
  border: none;
}
.form-contact .btn-send {
  background-color: #152630;
  color: #fff;
}
.form-contact a {
  text-decoration: underline;
  color: #152630;
}
.featured-info button {
  background-color: #152630;
  width: 100%;
  padding: 28px 0;
  color: #fff;
  font-size: 20px;
}
.featured-info button:hover {
  color: #152630;
  @include btnBackgroundBotton(#b2beba);
}
.featured-info p {
  color: #152630;
}
.info .text-title {
  text-decoration: underline;
}
.jumbotron {
  background-color: #b2beba;
  color: #152630;
  @include paddingJumbotron(15px);
}
.list li a {
  color: #152630;
}
.nav-pills .nav-link {
  color: #152630;
  font-size: 18px;
}
.nav-pills .nav-link.active {
  background-color: #343a40;
}
.title-pages {
  text-decoration: underline;
}
.footer {
  background-color: #b2beba;
  margin-bottom: 0;
}
