@text-color-black: #152630;
@text-color-white: #fff;
@background-black:  #152630;
@background-gray:  #b2beba;
@background-graylight:  #e9ecef;

.paddingJumbotron(@padding) {
  padding: @padding;
}

.btnBackgroundBotton(@color) {
  background-color: @color;
}

.accordionCards {
  .card-header {
    background-color: @background-graylight;
  }
}
.accordionCards img{width: auto;}
.accordionCards .card-header button { color: @text-color-black;}
.banner { padding-top: 56px; border-bottom: @background-black 5px solid;}
.banner img{
  max-height: 360px;
  object-fit: cover;
  object-position: center;
}
.banner .carousel
{
  .carousel-caption { 
    background-color: #000;
    opacity: .8;
  }
} 

.banner .carousel .carousel-caption p{ font-size: 18px;}

.breadcrumb .breadcrumb-item a{  color: @text-color-black; }
.btn-add {
  width: 100%;
  .btnBackgroundBotton(@background-black);
  color:  @text-color-white;
  border-radius: 0;
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);

}
.btn-add:hover {
  color: @text-color-black;
  background-color: @background-gray;

}

.by { background-color: @background-black; }

.by p {color: @text-color-white; margin: 0;}

.card-hotel { flex: 1 250px; overflow: hidden;}

.card-hotel .card-img-top {
  height: 194px;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.card-hotel .card-img-top:hover {
  transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card-hotel .card-footer .btn-modal-contact {
  background-color: #E5B463;
  color:  @text-color-white;
  border: none;
}

.form-contact .btn-send {
  background-color: @background-black;
  color: @text-color-white;
}

.form-contact a{ 
  text-decoration: underline;
  color: @text-color-black;
}


.featured-info button { 
  .btnBackgroundBotton(@background-black);
  width: 100%;    
  padding: 28px 0;
  color:  @text-color-white;
  font-size: 20px;

}

.featured-info button:hover {
  color: @text-color-black;
  @include btnBackgroundBotton(@background-gray);
}

.featured-info p { color:  @text-color-black; }

.info .text-title { text-decoration: underline; }

.jumbotron {
  background-color: @background-gray;
  color:  @text-color-black;
  @include paddingJumbotron(15px);
}

.list li a { color:  @text-color-black; }
.nav-pills  .nav-link { color:  @text-color-black; font-size: 18px;
}
.nav-pills  .nav-link.active{ background-color: #343a40; }
.title-pages { text-decoration: underline; }

.footer {
  background-color: @background-gray;
  margin-bottom: 0;
}
